name: 'Terraform'

on: push

jobs:
  terraform:
    name: 'Terraforminit'
    runs-on: ubuntu-latest
    environment: production

    steps:
 
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
  
    - name: Terraform Init
      run: terraform init

